<h1 class="text-center">Задания</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Дата назначения</th>
      <th>Группа</th>
      <th>Студенты</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @home_works.each do |home_work| %>
      <tr>
        <td><%= home_work.created_at.strftime('%d.%m.%Y') %></td>
        <td><%= home_work.student_group.try(:name) %></td>
        <td>
          <% home_work.students.each do |student|%>
            <ul>
              <li><%= student.name %></li>
            </ul>
          <% end %>
        </td>
        <td>
          <%= link_to home_work do %>
            <i class="fa fa-eye"></i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_home_work_path(home_work) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
        <td>
          <%= link_to home_work, method: :delete, data: {confirm: 'Вы уверены?'} do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>
  <%= link_to 'Создать новый список', new_user_home_work_path(@user), class: 'btn btn-outline-primary' %>
  <%= link_to 'Назад', :back, class: 'btn btn-outline-secondary' %>
</p>
