<h1 class="text-center">Списки слов для запоминиания</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Уровень сложности</th>
      <th colspan="5" class="text-center">Действия</th>
    </tr>
  </thead>

  <tbody>
    <% @word_lists.each do |word_list| %>
      <tr>
        <td><%= word_list.name %></td>
        <td><%= t "activerecord.attributes.word_list.list_types.#{word_list.list_type}" %></td>
        <td>
          <div class="dropdown show">
            <a class="btn btn-outline-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Упражнения
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="<%= testing_word_list_path(word_list) %>">Проверка</a>
              <a class="dropdown-item" href="<%= training_word_list_path(word_list) %>">Трерировка</a>
            </div>
          </div>
        </td>
        <td>
          <%= link_to word_list do %>
            <i class="fa fa-eye"></i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_word_list_path(word_list) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
        <td>
          <%= link_to word_list, method: :delete, data: {confirm: 'Вы уверены?'} do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать новый список', new_word_list_path, class: 'btn btn-outline-primary' %>

