<h1 align="center">Проверка</h1>

<%= form_tag test_result_word_list_path(@word_list) do %>
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="text-center">Слово</th>
      <th class="text-center">Перевод</th>
    </tr>
    </thead>
    <tbody>
    <% @words.each do |word| %>
      <tr>
        <td class="text-center"><%= label_tag "#{word.english_word}" %></td>
        <td class="text-center">
          <input id="word_<%= word.id %>" name="word_<%= word.id %>" type="text" class="form-control">
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="submit" class="btn btn-success" name="btn_type">Проверить</button>
    <%= link_to 'Назад', word_lists_path, class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
<br>
<br>