<%= simple_form_for(@questionnaire) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>

    <h1 class="text-center">Вопросы</h1>
    <div id='questions'>
      <% if (questions_error = f.object.errors[:questions].presence).present? %>
        <div class="alert alert-danger">
          <%= questions_error.join(', ') if questions_error %>
        </div>
      <% end %>
      <%= f.simple_fields_for :questions do |question| %>
        <%= render 'question_fields', :f => question %>
      <% end %>
      <div class='links'>

      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to_add_association 'Добавить вопрос', f, :questions, class: 'btn btn-outline-primary' %>
      <%= yield(:form_actions_before) %>
      <%= f.button :submit, 'Сохранить список', class: 'btn btn-outline-success' %>
      <%= yield(:form_actions_after) %>
    </div>
  </div>
<% end %>
