<div class="container">
  <%= form_tag exam_result_questionnaire_path(@questionnaire) do %>
    <h1><%= @questionnaire.title %></h1>
    <% @questionnaire.questions.each_with_index do |question, question_index| %>
      <ul class="list-group">
        <li class="list-group-item"><%= question_index + 1 %>. <%= question.question_text %></li>
        <ul>
          <% question.question_answers.sort_by{|qa| qa.id}.each do |question_answer| %>
            <li>
              <div class="radio">
                <label><input id="id_<%= question_answer.id %>" name="question_<%= question.id %>"
                              type="radio" value="<%= question_answer.id %>"/> <%= question_answer.answer_text %></label>
              </div>
            </li>
          <% end %>
        </ul>
      </ul>
    <% end %>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="submit" class="btn btn-outline-primary" name="btn_type">Проверить</button>
      <%= link_to 'Назад', questionnaires_path, class: 'btn btn-outline-secondary' %>
    </div>
  <% end %>
</div>

<br>
<br>