<h1 class="text-center">Результаты по: <%= @questionnaire.title %></h1>
<div class="container">
  <h3>Правильных ответов <%= @correct_answer_count %> из <%= @questions_count %></h3>
  <% @questionnaire.questions.each do |question| %>
    <ul>
      <h3 class="text-<%= @total["question#{question.id}"]['correct'] ? 'success' : 'danger' %>">
        <%= question.question_text %>
      </h3>
      <% question.question_answers.sort_by {|qa| qa.id}.each do |answer| %>
        <%
          if @total["question#{question.id}"]['incorrect_answer'] == (answer.id).to_s
            text_class = 'text-danger'
          elsif question.correct_answer == answer
            text_class = 'text-success'
          else
            text_class = ""
          end
        %>
        <li class="<%= text_class %>"><%= answer.answer_text %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to 'Пройти еще раз', exam_questionnaire_path(@questionnaire), class: 'btn btn-outline-primary' %>
  <%= link_to 'Назад', questionnaires_path, class: 'btn btn-outline-secondary' %>
</div>

<br>
<br>