<h1 class="text-center">Тесты</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Описание</th>
      <th colspan="4" class="text-center">Действия</th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaires.each do |questionnaire| %>
      <tr>
        <td><%= questionnaire.title %></td>
        <td><%= questionnaire.description %></td>
        <td><%= link_to 'Пройти тест', exam_questionnaire_path(questionnaire), class: 'btn btn-sm btn-outline-secondary' %></td>
        <td>
          <%= link_to questionnaire do %>
            <i class="fa fa-eye"></i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_questionnaire_path(questionnaire) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
        <td>
          <%= link_to questionnaire, method: :delete, data: {confirm: 'Вы уверены?'} do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>
  <%= link_to 'Создать новый тест', new_questionnaire_path, class: 'btn btn-outline-primary' %>
  <%= link_to 'Назад', :back, class: 'btn btn-outline-secondary' %>
</p>

