<h1 class="text-center"><%= @questionnaire.title %></h1>

<h3>Описание: <%= @questionnaire.description %></h3>
<h3>Вопросы:</h3>
<% if @questionnaire.questions.first.question_text == '1 Вопрос' %>
  <div class="alert alert-primary" role="alert">
    Тест является вновьсозданным, для запонления вопросов и ответов пройдите в раздел
    <%= link_to 'редтиакрования', edit_questionnaire_path(@questionnaire) %>
  </div>
<% end %>
<ul>
  <% @questionnaire.questions.each_with_index do |question, question_index| %>
    <li>
      <a data-toggle="collapse" href="#question<%= question_index %>" role="button" aria-expanded="false"
         aria-controls="question<%= question_index %>">
        <%= question.question_text %>
      </a>
      <div class="collapse multi-collapse" id="question<%= question_index %>">
        <div class="card card-body">
          <%= question.correct_answer.answer_text if question.correct_answer %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to 'Редактировать тест', edit_questionnaire_path(@questionnaire), class: 'btn btn-outline-primary' %>
  <%= link_to 'Назад', questionnaires_path, class: 'btn btn-outline-secondary' %>
</div>