<%# Читай коменты и все будет понятно - что-куда %>
<% student = current_user.student %>
<h3>
  Преподаватель <%= @teacher.name %> приглашает вас присоединиться к его группе учеников.
</h3>
<%= form_tag join_teacher_group_path(group_id: @group.id) do %>
  <% if student %><%# проверка выбрана ли роль "студент" %>
    <% if student.student_group %><%# Проверка выбрана ли группа %>
      <% if student.teacher == @teacher %><%# Проверка является ли приглашающий текущим преподом %>
        Вы уже являетесь учеником данного учителя.
      <% else %><%# Студент привязан к другому преподу, предлагаем изменить привязку %>
        <p>
          Обратите внимание, ваш профиль приязан к другому преподавателю <%= student.student_group.teacher.name %>.
          Нажав кнопку "Подтвердить" ваш профиль будет переприязан к группе учеников <%= @teacher.name %>,
          если вы этого не хотите - нажмите кнопку "Назад" и ваш профиль останется привязан к текущему преподавателю.
        </p>
        <button type="submit" class="btn btn-outline-info" value="confirm_from_change_teacher" name="btn_type">Подтвердить</button>
      <% end %>
    <% else %><%# студент еще не выбрал препода, предлагаем принять приглашение %>
      <p>Для активации приглашения нажмите кнопку "Подтвердить"</p>
      <button type="submit" class="btn btn-outline-info" value="confirm_from_student" name="btn_type">Подтвердить</button>
    <% end %>
  <% elsif current_user.teacher %><%# Данный пользователь указал роль учитель %>
    <p>В личном кабинете вами указана роль "Преподаватель", для активации приглашения необходимо изменить роль на "Студент"</p>
  <% else %><%# Роль не выбрана, предлагаем автоматически выбрать роль студента и привязать к пригласившему %>
    <p>
      Вами не выбрана роль "Студент", однако если вы хотите продолжить как студент в группе <%= @teacher.name %> -
      нажмите кнопку "Подветрдить"
    </p>
    <button type="submit" class="btn btn-outline-info" value="confirm_from_user" name="btn_type">Подтвердить</button>
  <% end %>
<% end %>
<br>
<%= link_to 'Назад', :back, class: 'btn btn-outline-secondary' %>