<li class="nav-item">
  <a class="nav-item nav-link text-dark" href="<%= page_path('about') %>">About</a>
</li>
<li class="nav-item">
  <a class="nav-item nav-link text-dark" href="<%= word_lists_path %>">Списки</a>
</li>
<li class="nav-item">
  <a class="nav-item nav-link text-dark" href="<%= questionnaires_path %>">Тесты</a>
</li>
<% if current_user %>
  <li class="nav-item ml-auto">
    <a class="nav-item nav-link text-dark" href="#"><%= current_user.name || current_user.email %></a>
  </li>
  <li class="nav-item ml-auto">
    <a class="nav-item nav-link text-dark" href="<%= user_home_works_path(current_user) %>">Задания</a>
  </li>
  <% if current_user.teacher %>
    <li class="nav-item">
      <a class="nav-item nav-link text-dark" href="<%= teacher_student_groups_path(current_user.teacher) %>">Студенты</a>
    </li>
  <% end %>
<% end %>
